.head {
  text-align: center;
  color: rgb(53, 7, 223);
  margin-bottom: 4.3rem;
  font-size: 4.5rem;
}

.detail {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.detail p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.weeks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: auto;
}
